<header class="header">
    <div class="content">
        <div class="logo">
            <a routerLink="/">
                <img src="../../../assets/MishmashLogo1.svg" alt="Logo">
            </a>
        </div>
        <button *ngIf="isLogged" class="sell-btn" routerLink="/sell">
            <i class="fas fa-plus"></i>
            Sell Item
        </button>
        <nav>
            <ul>
                <li *ngIf="!isLogged"><a routerLink="/user/login">Login</a></li>
                <li *ngIf="!isLogged"><a routerLink="/user/register">Register</a></li>
                <li *ngIf="isLogged"><a class="messages-icon" [routerLink]="['/user/messages', user?.objectId]"><i class="fas fa-envelope"></i></a></li>
                <li *ngIf="isLogged">
                    <a [routerLink]="['/user/profile', user?.objectId]">
                        <span class="user-icon"><i class="fas fa-user"></i></span> {{user?.username}}
                    </a>
                </li>
                <li *ngIf="isLogged">
                    <a href="#" (click)="logoutHandler($event)">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>