<footer class="footer">
    <div class="content">
        <ul class="social-links">
            <li>
                <a href="https://github.com/Litorasul/Mishmash">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nikolaykelov/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <p class="text">
            &copy; Nikolay Kelov - 2020
        </p>
    </div>
</footer>