.content {
    margin: 20px 10px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}

.content:hover {
    background-color: rgba(93, 45, 80, 0.2);
}

a {
    text-decoration: none;
    color: #1E606D;
}

.icon {
    margin: 0 15px;
    color: #FB7489;
}

.text {
    color: #1E606D;
}