<div *ngIf="isLoading">Loading...</div>
<div class="content" *ngIf="!isLoading">
    <div class="user-info">
        <div class="rating-avg">{{getRatingAvg()}}</div>
        <a [routerLink]="['/user/profile', user.objectId]" class="username">{{user.username}}</a>
    </div>
    <div class="reviews-count">
        <i class="fas fa-pencil-alt"></i>
        <p>{{user.reviews.length}} reviews</p>
    </div>
    <div class="btn-container">
        <button class="message-btn">Send Message</button>
    </div>
</div>