<div *ngIf="isLoading" class="container-loading">Loading...</div>
<div *ngIf="!isLoading" class="container">
    <form #f="ngForm" (ngSubmit)="submitFormHandler(f.value)">
        <div>
            <label for="name"><span><i class="fas fa-tag"></i></span></label>
            <input #userName="ngModel" type="text" name="name" id="name" placeholder="Type item name..." ngModel required minlength="4">
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.required">
                Name is required!
            </p>
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.minlength">
                Name must be at least 4 characters!
            </p>
        </div>
        <div>
            <label for="price"><span><i class="fas fa-dollar-sign"></i></span></label>
            <input #userName="ngModel" type="number" name="price" id="price" placeholder="Type item price..." ngModel required>
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.required">
                Price is required!
            </p>
        </div>

        <div>
            <label for="description"><span><i class="fas fa-expand-arrows-alt"></i></span></label>
            <input #userName="ngModel" type="text" name="description" id="description" placeholder="Type item description..." ngModel>
        </div>
        <div>
            <label for="category"><i class="fas fa-object-group"></i></label>
            <select #category="ngModel" name="category" id="category" placeholder="Choose a category" ngModel required>
                <option *ngFor="let cat of categories" value={{cat.objectId}}> 
                    {{cat.name}}
                </option>
            </select>
            <p class="validation-message" *ngIf="category.touched && category.errors?.required">
                Pleace choose category.
            </p>
        </div>
        <div>
            <label for="address"><span><i class="fas fa-map-marker-alt"></i></span></label>
            <input #userName="ngModel" type="text" name="address" id="address" placeholder="Type item address..." ngModel required>
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.required">
                Address is required!
            </p>
        </div>
        <div>
            <label for="city"><span><i class="fas fa-city"></i></span></label>
            <input #userName="ngModel" type="text" name="city" id="city" placeholder="Type item city..." ngModel required>
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.required">
                City is required!
            </p>
        </div>
        <div>
            <label for="country"><span><i class="fas fa-globe-europe"></i></span></label>
            <input #userName="ngModel" type="text" name="country" id="country" placeholder="Type item country..." ngModel required>
            <p class="validation-message" *ngIf="userName.touched && userName.errors?.required">
                Country is required!
            </p>
        </div>
        <button class="open-widget-btn" id="upload_widget" (click)="openUploadHandler($event)">
      Add pictures
    </button>
        <button class="submit-btn" type="submit" [disabled]="f.invalid">Sell</button>
    </form>
</div>