<div class="container">
    <form #f="ngForm" (ngSubmit)="submitFormHandler(f.value)">
        <div class="input-container">
            <label for="email"><i class="fas fa-envelope"></i></label>
            <input #userEmail="ngModel" type="text" name="email" id="email" placeholder="Type your email..." ngModel required email>
            <p class="validation-message" *ngIf="userEmail.touched && userEmail.errors?.required">
                Email is required!
            </p>
            <p class="validation-message" *ngIf="userEmail.touched && userEmail.errors?.email">
                Email is not valid!
            </p>
        </div>

        <div class="input-container">
            <label for="password"><i class="fas fa-lock"></i></label>
            <input #userPassword="ngModel" type="password" name="password" id="password" placeholder="Type your password..." ngModel required minlength="5">
            <p class="validation-message" *ngIf="userPassword.touched && userPassword.errors?.required" class="error">
                Password is required!
            </p>
            <p class="validation-message" *ngIf="userPassword.touched && userPassword.errors?.minlength" class="error">
                Password must be at least 5 characters!
            </p>
        </div>

        <button [disabled]="f.invalid">Login</button>

        <p class="after">
            Don't have an account?
            <a routerLink="/user/register">Register</a>
        </p>
    </form>
</div>